

i { 
    		font-style: italic;
	   }

	p.one {
 		   border-style: solid;
   		   border-width: medium;
	       }


body  {
background: white url('12.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
margin-left:200px;
}